@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Seja bem vindo(a) ao nosso sistema de criação de carros. <br>
        Navegue no menu acima.
    </p>
</div>
