@model CarrosMVC.Models.Carro

@{
    ViewData["Title"] = "Criar Novo Carro";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MarcaId" class="control-label"></label>
        <select asp-for="MarcaId" class="form-control" asp-items="ViewBag.MarcaId"></select>
        <span asp-validation-for="MarcaId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CarroceriaId" class="control-label"></label>
        <select asp-for="CarroceriaId" class="form-control" asp-items="ViewBag.CarroceriaId"></select>
        <span asp-validation-for="CarroceriaId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ano" class="control-label"></label>
        <input asp-for="Ano" class="form-control" type="number" min="1800" max="@DateTime.Now.Year" />
        <span asp-validation-for="Ano" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="LojaIdentifier" class="control-label">Loja</label>
        <select asp-for="LojaIdentifier" class="form-control" asp-items="ViewBag.Lojas"></select>
        <span asp-validation-for="LojaIdentifier" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
